.ocr-page{
    margin-top: 20%; 
}
.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 800px;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}

.form-field {
  margin-bottom: 0px; 
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.form-field input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  grid-column: span 2; 
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0056b3;

}
